.cart_link_span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #111111;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 7px;
  left: 12px;
}

.pos-relative {
  position: relative;
}

.block {
  display: block;
}
.inlineblock {
  display: inline-block;
}

.link_default {
  padding: 4px 50px;
  border: solid 1px #333333;
  color: #222222;
  background: #fff;
  font-size: 0.7rem;
  cursor: pointer;
}

.bag_link {
  padding: 2px 50px;
  background: #222222;
  color: #fff;
  font-size: 0.7rem;
  cursor: pointer;
}

.center {
  text-align: center;
}

.sm-line-height {
  line-height: 1.5;
}

.buttons {
  position: relative;
  bottom: 35px;
}

.shop_wrapper {
  margin: 0px 0 10px 0;
  display: flex;
}

.shop_wrapper .left {
  width: 350px;
  padding: 0 5px 0 45px;
}

.shop_wrapper .right {
  min-width: 1200px;
  padding-left: 25px;
}

.size-button li {
  padding: 2px 50px;
  color: #222222;
  background: #fff;
  font-size: 0.7rem;
  cursor: pointer;
  margin-right: 7px;
}
.size-button li:hover {
  background: #e7e6e4;
}

.size-button .second-level-menu {
  position: absolute;
  z-index: 19;
  bottom: 21px;
  left: 0;
  width: 130px;
  list-style: none;
  padding: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: all 300ms ease-in-out;
}

.size-button .top-level-menu {
  list-style: none;
  position: relative;
  z-index: 20;
}

.size-button .top-level-menu li:hover > ul {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
  border: none;
}

ul.top-level-menu {
  padding: 0;
}
