body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Regular";
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.wrap_header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s;
}

.header1 {
  height: 80px;
  transition: all 0.3s;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1100;
  opacity: 0.95;
}
.menu {
  margin-left: 400px;
}
.main_menu {
  font-size: 16px;
  margin: 0 10px;
  display: inline-block;
  cursor: pointer;
}

.logo {
  display: block;
  position: absolute;
  left: 52px;
  top: 50%;
  transform: translateY(-50%);
}

.logo img {
  max-height: 27px;
}
.header-icons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 52px;
  top: 50%;
  transform: translateY(-50%);
}

.page_container {
  margin-top: 80px;
  min-height: 100vh;
}

.wrapper_image {
  min-height: 88vh;
  position: relative;
}

/* /* .main_loader {
  text-align: center;
  margin-top: 100px;
}  */

.page_wrapper {
  padding-top: 85px;
}
.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}

.dialog_alert {
  padding: 51px;
  font-size: 20px;
}

.load_more_container {
  clear: both;
  margin-bottom: 50px;
}

.load_more_container span {
  cursor: pointer;
  background: #ffffff;
  color: #222222;
  font-size: 16px;
  padding: 8px 35px;
  display: table;
  margin: 0 auto;
  border: solid 1px #222222;
}

.load_more_container span:hover {
  background: #222222;
  color: #ffffff;
}

.no_result {
  font-size: 20px;
  color: #222222;
  text-align: center;
  padding-top: 40px;
}

.not_found_container {
  font-size: 30px;
  text-align: center;
  padding-top: 70px;
  color: #222222;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

input {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

.error_label {
  color: #c42115;
  display: block;
  margin-top: 5px;
  background: rgb(229, 149, 149);
  font-size: 15px;
}

textarea {
  width: 100%;
  height: 51px;
  font-size: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid #d1d1d1;
}

.form_devider {
  border-bottom: 3px solid #e7e6e4;
  margin: 40px 0px;
}

.label_inputs {
  display: inline-block;
  background: #59bbc2;
  color: #fff;
  padding: 5px 5px;
}

select {
  font-size: 16px;
  height: 38px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}
.formBlock {
  margin-bottom: 10px;
}

.form_block_two {
  display: flex;
}
.form_block_two .block {
  flex-grow: 1;
  box-sizing: border-box;
}

.form_block_two .block:nth-child(1) {
  padding-right: 10px;
}
.form_block_two .block:nth-child(2) {
  padding-left: 10px;
}

.form_success {
  background: #4caf50;
  color: #ffffffff;
  padding: 10px;
  display: block;
}

.link_default {
  padding: 5px 45px;
  display: inline-block;
  border: solid 1px #333333;
  background: #222222;
  color: #fff;
  font-size: 0.8rem;
  margin-top: 30px;
  cursor: pointer;
  box-sizing: border-box;
}

.link_default:hover {
  opacity: 0.8;
}

.card_link,
.bag_link,
.add_to_cart_link {
  padding: 10px 15px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  background: #222222;
  cursor: pointer;
}
.card_link:hover,
.bag_link:hover,
.add_to_cart_link:hover {
  /* opacity: 0.8; */
  background: #e65540;
}

.action_button {
  text-transform: uppercase;
  padding: 10px;
  display: table;
  background: #e7e6e4;
  margin-top: 10px;
}

.page_top {
  padding: 20px;
  text-transform: uppercase;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

header .logo {
  font-family: "Monoton", cursive;
  color: #ffffff;
  font-size: 40px;
  padding: 11px 0px;
}

header a {
  margin-left: 20px;
}

header .icon-login .icon-cart {
  height: 100%;
}
header .icon-login img {
  vertical-align: middle;
  border-style: none;
}
header .icon-cart img {
  vertical-align: middle;
  border-style: none;
  position: absolute;
  right: 0px;
}

header .cart_link {
  display: inline-block;
  position: relative;
}

header .cart_link span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #111111;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: -10px;
}
header .log_out_link {
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
}

footer .wrapper {
  padding: 45px;
  background-color: #1a1a1a;
  text-align: justify;
}

footer .left {
  width: 22%;
  padding: 0 0px 0 50px;
}
footer .middle {
  width: 22%;
  padding: 0 0px 0 50px;
}
footer .right {
  width: 22%;
  padding: 0 0px 0 50px;
}
footer .flex-w {
  display: flex;
  color: #cccccc;
  font-size: 12px;
  padding-bottom: 70px;
}
footer a:hover {
  color: #ffffff;
}
footer .wrapper h4 {
  color: #ffffff;
  font-size: 12px;
}
footer .newsletter {
  font-size: 15px;
}
footer li {
  list-style: none;
  padding-right: 0%;
}

.flex-w {
  display: flex;
  flex-wrap: wrap;
}
.flex-w .link_default {
  background: #ffffff;
  color: rgb(17, 17, 17);
  margin-top: 10px;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 600;
}
.copyright {
  width: 60%;
  margin: 0 auto 30px auto;
  text-align: center;
  color: #ffffff;
  opacity: 0.9;
  font-size: 12px;
}

.featured_action {
  position: absolute;
  top: 75%;
  left: 35%;
}
.tags {
  text-align: center;
}

.featured_action a {
  padding: 5px 25px;
  background-color: #ffff !important;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  color: rgb(17, 17, 17);
  text-transform: uppercase;
  border: 1px solid #fff !important;
}

div.tag.title {
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  line-height: 1.5;
  letter-spacing: 2px;
}
div.tag.low_title {
  font-size: 35px;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
}

.home_promotion .home_promotion_img {
  height: 250px;
  background-size: cover !important;
  background-position: top center !important;
  padding: 15px;
  box-sizing: border-box;
  margin: 40px auto;
  position: relative;
}

.home_promotion .tag {
  padding: 0px 20px;
  text-transform: uppercase;
  display: table;
}

.home_promotion .tag.title {
  position: absolute;
  top: 15%;
  left: 38%;
  background: #82828287;
  font-size: 40px;
  font-weight: 700;
  margin: 10px auto;
}

.home_promotion .tag.low_title {
  color: #ffffff;
  background: #82828287;
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
  margin: 0 auto;
}

.home_promotion .my_link a {
  position: absolute;
  top: 55%;
  left: 38%;
}

.card_block {
  margin: 50px 0px 50px 0px;
}

.card_block .title {
  font-family: Montserrat-Bold;
  font-size: 30px;
  color: #222;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.card_block_shop {
  margin: 40px 0;
}
.card_item_wrapper {
  flex-grow: 1;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.block2-btn-addcart {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -45px;
}

.cart {
  border-radius: 23px;
  background-color: rgb(17, 17, 17);
  width: 100%;
  height: 40px;
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease 0s;
  outline: none !important;
  border: none;
  background: transparent;
}

/* .card_item_wrapper {
  flex-grow: 1;
  width: 25%;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
} */

.overlay {
  position: absolute;
  top: 0;
  left: 10px;
  width: 92.5%;
  height: 400px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.overlay:hover {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.card_button {
  position: absolute;
  left: 60px;
  bottom: 80px;
  opacity: 0;
  transition: all 0.4s ease 0.1s;
  padding: 6px 25px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 23px;
}

.card_button:hover {
  background-color: #ff6900;
  border: none;
}

.card_item_wrapper .image {
  width: 100%;
  height: 400px;
  background-position: center !important;
  background-size: cover !important;
}

.card_item_wrapper .tags {
  position: relative;
}

.card_item_wrapper .tags .brand,
.card_item_wrapper .tags .name,
.card_item_wrapper .tags .price {
  text-align: center;
  margin: 7px;
}

.card_item_wrapper .tags .name {
  font-weight: 400;
}

.card_item_wrapper .tags .price {
  font-weight: 300;
  font-size: 21px;
}

.card_item_wrapper .actions {
  display: flex;
  padding: 15px 0 10px 0;
}

.card_item_wrapper .actions .button_wrapp:nth-child(1) {
  flex-grow: 1;
  padding-right: 10px;
}

.card_item_wrapper.grid_bars {
  flex-grow: 1;
  width: 33.3%;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
/* 
.card_item_wrapper.grid_bars img {
  width: 500px;
  height: 500px;
  background-position: 0%;
  background-size: cover !important;
  border: none;
} */

div.block2-overlay.trans-0-4 img {
  width: 100%;
  height: 460px;
}

.card_item_wrapper.grid_bars .action_container {
  flex-grow: 1;
}

.card_item_wrapper.grid_bars .tags {
  text-align: center;
  margin: 10px 0;
}

.card_item_wrapper.grid_bars .actions {
  clear: both;
  float: right;
}

.shop_wrapper {
  margin: 10px 0 10px 0;
  display: flex;
}

.shop_wrapper .left {
  flex-grow: 1;
  padding: 0 25px 0 45px;
}

.shop_wrapper .right {
  width: 1100px;
  /* padding-right: 35px; */
}

.collapse_title span {
  text-transform: uppercase;
  font-weight: 700;
}

.grid_btn {
  float: right;
  padding: 10px 10px;
  font-size: 20px;
  color: #c6c6c6;
}
.grid_btn.active {
  color: #727272;
}

.shop_options {
  border-bottom: 1px solid #e8e8e8;
  margin: 0px 20px 20px 20px;
}

.product_detail_wrapper {
  display: flex;
  padding-left: 60px;
}

.product_detail_wrapper .right {
  flex-grow: 1;
  min-height: 800px;
  padding-left: 100px;
  padding-top: 80px;
}

.product_detail_wrapper p {
  font-size: 17px;
  font-family: Arial, Helvetica;
  font-weight: lighter;
}

.product_detail_wrapper .product_tags .tag {
  display: inline-block;
  margin-top: 20px;
}

.product_detail_wrapper .product_tags .tag svg {
  font-size: 20px;
  color: #e4e4e4;
  width: 30px;
}

.product_detail_wrapper .product_tags .tag .tag_text {
  font-size: 12px;
  display: inline-block;
  color: #999592;
}
.product_detail_wrapper .product_tags .tag div {
  display: inline-block;
  margin-right: 10px;
}

.product_detail_wrapper .product_actions .cart {
  width: 350px;
}
.product_detail_wrapper .product_actions .cart .add_to_cart_link {
  padding-left: 30px;
}
.user_cart_sum {
  border: 1px solid #e6e6e6;
  width: 33%;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 80px;
}

.user_cart_sum h2 {
  padding: 0px 20px 15px 20px;
  border-bottom: 1px solid #dadada;
}

.cart_no_items,
.cart_success {
  margin-top: 50px;
}

.cart_no_items svg,
.cart_success svg {
  font-size: 130px;
  color: #717171;
}
.cart_no_items,
.cart_success {
  text-align: center;
  font-size: 20px;
  color: #999592;
}

.product_detail_wrapper .product_actions {
  padding: 20px 0px 30px 0px;
}

.product_detail_wrapper .product_specifications .item {
  font-size: 15px;
  text-transform: uppercase;
  color: #838383;
}

.product_detail_wrapper .product_image_container {
  margin-top: 30px;
  padding-left: 30px;
  width: 100%;
}

.product_detail_wrapper .main_pic {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  background-size: contain !important;
  padding-right: 50px;
  margin-top: 20px;
}

.product_detail_wrapper .main_pic div {
  width: 90%;
  height: 500px;
  background-size: cover !important;
  margin-top: 20px;
  margin-right: 40px;
}

.product_detail_wrapper .main_thumbs {
  margin-top: 10px;
}

.product_detail_wrapper .main_thumbs .thumb {
  cursor: pointer;
  height: 120px;
  width: 17.33%;
  background-size: contain !important;
  background-position: top center !important;
  box-sizing: border-box;
  float: left;
  border: 2px solid #222222;
  margin-right: 7px;
}

.register_login_container {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 430px;
}

.register_login_container .left,
.register_login_container .right {
  flex: 1;
}

.register_login_container h2 {
  margin: 20px 0px;
  text-transform: uppercase;
  color: #686868;
}

.register_login_container p {
  font-weight: 300;
  font-size: 16px;
  width: 90%;
}

.user_container {
  display: flex;
  margin-bottom: 50px;
  min-height: 700px;
}

.user_container .user_left_nav {
  border-right: 1px solid #f8f8f8;
}

.user_container .user_left_nav .links a {
  display: block;
  border-bottom: 1px solid #dddddd;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0px;
  width: 280px;
}

.user_container .user_right {
  flex-grow: 1;
  padding: 0 0 0 29px;
}

.user_container .user_nfo_panel {
  background: #e7e6e4;
  min-height: 400px;
  padding: 20px;
  margin-top: 10px;
}

.user_container .user_nfo_panel span {
  display: block;
  font-size: 16px;
  font-weight: 300;
}

.user_product_block {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ebebeb;
}

.user_product_block .item {
  flex-grow: 1;
}

.user_product_block .item .image {
  height: 125px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  margin-right: 10px;
}
.user_product_block .item.btn {
  width: 0px;
}

.cart_remove_btn {
  cursor: pointer;
  background: #222222;
  display: inline-block;
  padding: 5px 25px;
  color: #fff;
}

.admin_category_wrapper {
  padding-bottom: 50px;
  border-bottom: 4px solid #e9e9e9;
}

.admin_two_column {
  display: flex;
}

.admin_two_column .right {
  flex-grow: 1;
}
.brands_container {
  height: 200px;
  overflow-y: scroll;
  margin-right: 20px;
}

.brands_container .category_item {
  width: 200px;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid #f1f1f1;
  padding: 10px;
  position: relative;
  background: #59bbc2;
  color: #fff;
}

.dropzone {
  border: 1px solid #e5e5e5;
  margin-bottom: 40px;
}

.dropzone_box {
  display: inline-block;
  width: 25%;
  height: 150px;
  padding: 15px;
  box-sizing: border-box;
}

.dropzone_box .wrap {
  background: #eaeaea;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size: 80px;
  background-size: contain !important;
  background-position: center center !important;
  border: 1px solid #eaeaea;
}
/* 
////////////////////////////////////////////////// */

.bg-title-page {
  width: 100%;
  min-height: 139px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
}

.shop-title-page {
  width: 100%;
  min-height: 129px;
}
.shop-title-page h3,
p {
  margin: 0;
  text-align: center;
}
.shop-title-page h3 {
  margin-top: 10px;
  padding-top: 10px;
}
.shop-title-page .shop_span {
  margin: 0;
  text-align: center;
}
.shop-title-page span {
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-right: 10px;
  border-bottom: 2px solid #222222;
}

.wrap-table-shopping-cart {
  padding-top: 50px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.container-table-cart::before {
  display: block;
  position: absolute;
  width: 1px;
  height: calc(100% - 51px);
  background-color: #e7e6e4;
  top: 551px;
  left: 0;
}

.container-table-cart::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: calc(100% - 51px);
  background-color: #e7e6e4;
  top: 51px;
  right: 0;
}

.table-shopping-cart {
  border-collapse: collapse;
  width: 100%;
  min-width: 900px;
}
.container-table-cart h1 {
  text-align: center;
}

.table-shopping-cart .column-1 {
  width: 225px;
  padding-left: 50px;
}
.table-shopping-cart .column-2 {
  width: 300px;
  padding-right: 30px;
  text-align: center;
}
.table-shopping-cart .column-3 {
  width: 133px;
  padding-right: 30px;
  text-align: center;
}
.table-shopping-cart .column-4 {
  width: 200px;
  padding-right: 20px;
  text-align: center;
}
.table-shopping-cart .column-5 {
  width: 300px;
  padding-right: 30px;
  text-align: center;
}
.table-shopping-cart .table-head th {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #212529;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
}

.table-shopping-cart .table-row {
  border: 1px solid #e6e6e6;
}

.table-shopping-cart td {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #212529;
  line-height: 1.5;
  padding-top: 37px;
  padding-bottom: 30px;

  border: none;
}
.cart-img-product {
  width: 90px;
  position: relative;
}

.cart-img-product .image {
  width: 100%;
}

.cart-img-product .image:hover {
  cursor: pointer;
  opacity: 0.8;
}

.product_info h5 {
  font-weight: 400;
  font-size: 1rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.product_info .specs {
  margin-top: 50px;
}
.product_info p {
  text-align: start;
  margin-top: 0;
}
.product_info span {
  color: #d30032;
}

.register_login_container p {
  text-align: start;
}

.history_blocks table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.history_blocks td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.history_blocks tr:nth-child(even) {
  background-color: #dddddd;
}

.shopping_bag {
  display: flex;
  align-items: baseline;
}

.shopping_cart h1 {
  margin-top: 200px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.shopping_bag h2 {
  font-size: 16px;
  text-transform: uppercase;
}
.shopping_bag p {
  text-align: start;
  font-size: 12px;
}
.shopping_bag .shopping_bag_left {
  display: inline-block;
  height: auto;
  overflow: hidden;
  border: 1px solid #e7e6e4;
  width: 65%;
  margin-right: 25px;
}
.shopping_bag_left span {
  font-size: 0.7rem;
  text-transform: uppercase;
  border-bottom: 2px solid #222222;
}

.shopping_bag .login_info {
  margin: 8px 0px 20px 20px;
}
.shopping_bag .login_info h2 {
  margin-bottom: 20px;
}

.shopping_bag .user_cart_sum {
  display: inline-block;
  height: auto;
  overflow: hidden;
}

.user_cart_info {
  margin: 8px 20px 20px 20px;
}
.user_cart_sum h2 {
  font-size: 16px;
  text-transform: uppercase;
}

.user_cart_sum .user_cart_info p {
  text-align: start;
  font-size: 12px;
}

.user_cart_sum .user_cart_info p:nth-child(1) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e7e6e4;
}
.user_cart_info p:nth-child(2) {
  line-height: 2rem;
}
.user_cart_info p:nth-child(3) {
  display: inline-block;
}
.user_cart_info .cart_link {
  margin: 30px 0px 30px 20px;
}
.payment .cart_link {
  margin: 30px 0px 30px 50px;
  padding: 5px 15px;
  margin-right: 0;
}

.modal {
  position: fixed;
  z-index: 500;
  background-color: #fff;
  width: 70%;
  border: 1px solid #ccc;
  opacity: 0.8;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

a.breadcrumb:hover {
  border-bottom: 3px solid #4a4a4a;
}

.category {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  margin-bottom: -30px;
}

img .image {
  width: 50%;
  height: 200px;
}
